<section>
  <h2>経歴要約</h2>
  <p>
    2014年に大学卒業後、ベトナムの日本語学校に就職。日本語教師として、0から日本語を勉強する人たちに
    初級日本語を教える。その傍ら、Excelの関数を利用した業務効率化に取り組む。
  </p>
  <p>
    2017年に帰国後、エンジニア派遣会社に入社。主に物流倉庫内で使用する業務用Androidアプリを担当。
  </p>
  <p>
    派遣会社を退社後、2020年1月に金融系システム会社に入社。PCキッティング・社内ネットワークの機器設定などを担当したのち、2020年6月ごろからフロントエンドの業務に従事。新機能の画面開発に加え、UIのコンポーネント化・Storybook/画像回帰テスト導入を担当。現在はアクセシビリティ向上のための勉強会企画・実施や社内啓発に取り組んでいる。
  </p>
</section>
<section>
  <h2>活かせるスキル・経験</h2>
  <ul class="skill-set">
    <li>
      <p class="skill">Ionic・Angular/実務経験3年以上</p>
      <p>アプリの新規画面作成・既存画面の改修</p>
    </li>
    <li>
      <p class="skill">Storybookの導入・メンテナンス/実務経験3年以上</p>
      <p>
        既存アプリへの導入及びメンテナンス・Angular用チュートリアルの日本語訳・Storybookのバグ修正
      </p>
    </li>
    <li>
      <p class="skill">画像回帰テストの導入・メンテナンス/実務経験1年以上</p>
      <p>
        既存アプリへの導入及びメンテナンス・関連ライブラリ(reg-cli)のバグ修正
      </p>
    </li>
    <li>
      <p class="skill">Androidアプリ/実務経験1年以上</p>
      <p>基本的な画面の作成・他アプリとの連携</p>
    </li>
    <li>
      <p class="skill">SQL/実務経験1年以上</p>
      <p>基本的なCRUD処理を伴うDB操作</p>
    </li>
  </ul>
</section>
<section>
  <h2>職務経歴</h2>
  <article class="career-history">
    <header>
      <h3>日本語学校</h3>
      <p>
        <time datetime="2014-10">2014年10月</time>~<time datetime="201710"
          >2017年10月</time
        >
      </p>
    </header>
    <h4>事業内容</h4>
    <p>
      ベトナムのホーチミンとダナンにおいて、会話と文化教育に重点を置いた初級・中級日本語教育を行う
    </p>
  </article>
  <article class="career-history">
    <header>
      <h3>エンジニア派遣会社</h3>
      <p>
        <time datetime="2017-11">2017年11月</time>~<time datetime="201909"
          >2019年9月</time
        >
      </p>
    </header>
    <h4>事業内容</h4>
    <p>総合人材派遣・請負、コンサルティング業務</p>
  </article>
  <article class="career-history">
    <header>
      <h3>金融系システム会社</h3>
      <p><time datetime="202001">2020年1月</time>~現在</p>
    </header>
    <section>
      <h4>事業内容</h4>
      <p>
        金融サービスの企画立案からシステム開発、データの利活用までを統合してデザインする。現状は銀行アプリの開発・運用を行なっている
      </p>
    </section>
    <section>
      <h4>この会社での主な実績</h4>
      <section class="achievement">
        <h5>UIのコンポーネント化及びStorybook・画像回帰テスト導入</h5>
        <p class="achievement-period">
          <time datetime="202009">2020年9月</time>~<time datetime="202102"
            >2021年2月</time
          >
        </p>
        <p>
          既存アプリの再利用性・修正容易性を向上するため、グローバルCSSで実装されていたUIコンポーネント化を進めた。
        </p>
        <p>
          また、コンポーネントのデザイン・実装・レビューのサイクルを速く回すためにStorybookを導入した。
        </p>
        <p>
          Storybookでカバーされている画面が増えるにつれ表示が崩れてしまっているStoryを目視で見つけるのが困難になり、また既存のUIをコンポーネント化したものに置き換える際にデザインが崩れることが懸念されたので、reg-cliによる画像回帰テストを導入した。
        </p>
        <p>
          参考:<a href="https://note.minna-no-ginko.com/n/n7d612e8d95e5"
            >UI開発におけるStorybookの活用法って？</a
          >
        </p>
      </section>
      <section class="achievement">
        <h5>デザインシステム構築</h5>
        <p class="achievement-period">
          <time datetime="202104">2021年4月</time>
        </p>
        <p>
          コンポーネント化したUIを商用コードで利用していくにあたり、デザイナーとのコミュニケーション上
          の問題が生じた。この問題を解決するため、デザイナーとフロントエンジニアの共通言語としてデザイ
          ンシステムを構築するワーキンググループを立ち上げた(
          <time datetime="202104">2021年4月</time>の
          立ち上げ以降は、別エンジニアが担当）
        </p>
      </section>
      <section class="achievement">
        <h5>アクセシビリティ改善の推進</h5>
        <p class="achievement-period">
          <time datetime="202104">2021年4月</time>~現在
        </p>
        <p>
          高い公共性が求められる銀行という性質上、アクセシビリティは品質上欠かせない要素であるが、社内
          に有識者がいない・開発リソースが限られているなどの理由で対応が後回しになっていた。デザインシステムを構築する過程で改めてUIコンポーネントにアクセシビリティ上の問題が散見されたのを機に、アクセシビリティ向上の取り組みを開始した
        </p>
        <h6>社内勉強会企画・実施</h6>
        <p>
          <time datetime="202201">2022年1月</time>から<time datetime="202206"
            >2022年6月</time
          >に掛け、外部講師を招き週1回1時間のアクセシビリティ勉強会を開催。WCAGの概要把握と既存アプリの問題点洗い出し及び改修方法の検討を行った。
        </p>
        <h6>アクセシビリティに配慮したコーディングの標準化</h6>
        <p>
          <time datetime="202301">2023年1月</time
          >以降、上記勉強会で検討した改修を随時アプリの主要シナリオに適用。勉強会に参加していない2022年6月以降に参画したメンバーでも的確に改修が行えるよう、以下の3点を行いアクセシビリティに配慮したコーディングを標準化した。
        </p>
        <ul>
          <li>パターン化できる修正を共通モジュールにまとめる</li>
          <li>
            上記モジュールの使い方や、その他HTMLマークアップ上の留意点をまとめたドキュメントの作成
          </li>
          <li>
            ドキュメントにまとめた留意点が正しく適用しているかチェックするMarkuplintやESLintのカスタムルール作成
          </li>
        </ul>
        <h6>上記改善の効果測定</h6>
        <p>
          上記勉強会には健常者しか関わっておらず、案が実際に障害当事者にとって効果があるかは未検証であった。
        </p>
        <p>
          そこで外部業者に依頼し、視覚障害当事者が実際にアプリをスクリーンリーダーで操作できるようになっているか検証するテストを企画・実施した。結果、改善案通りでスクリーンリーダーで概ね操作できるようになっていることが確認できた。
        </p>
        <p>
          またカスタマーサポートにご連絡いただいたお客様にご協力いただき、ユーザーインタビュー・ユーザビリティテストを実施。こちらでも上記テストとほぼ同様の結果となった。
        </p>
        <h6>改善についての社外発信</h6>
        <p>
          上記検証で改善の効果が一定程度確認されたため、社内ブログ・公開イベントなどで改善についてお客様に知っていただけるよう社外発信を行った。
        </p>
        <ul>
          <li>
            <a href="https://note.minna-no-ginko.com/n/n84637dd5b03a"
              >アプリのアクセシビリティを改善しています</a
            >
          </li>
          <li>
            <a
              href="https://qiita.com/m-nagashima-zdf/items/eae175ca0b21828b40b4"
              >アプリのアクセシビリティ改善で行っていること</a
            >
          </li>
          <li>
            <a href="https://peatix.com/event/3728624?lang=ja"
              >一般社団法人電子決済等代行事業者協会主催
              ウェブアクセシビリティ勉強会</a
            >
          </li>
        </ul>
      </section>
      <section class="achievement">
        <h5>コミュニティ運営</h5>
        <p class="achievement-period">
          <time datetime="202302">2023年2月</time>~現在
        </p>
        <p>
          <a href="https://jaguer.jp/">Jagu'e'r</a>というGoogle
          Cloudを利用している企業のユーザー会がある。セキュリティやデータ利活用などのテーマ毎に分科会に分かれ、参加企業が情報交換を行っている。
          そのJagu'e'r内の分科会として<time datetime="202302">2023年2月</time
          >から<a href="https://jaguer.jp/mobileapp/"
            >モバイル/スマホアプリ分科会</a
          >が立ち上げられた。この分科会の開設当初から運営メンバーとして関わり、隔月ペースで行っているMeet
          upの企画・実施などを行っている。
        </p>
      </section>
    </section>
  </article>
</section>
<section>
  <h2>自己PR</h2>
  <p>私のエンジニアとしての強みは以下の2つです。</p>
  <ul>
    <li>主体的に問題と改善案を提起し、実行し切る力</li>
    <li>英語力を生かした情報収集と社内への知見共有</li>
  </ul>
  <section>
    <h3>主体的に問題と改善案を提起し、実行し切る力</h3>
    <p>
      現在の部署に配属され、最初に担当した業務は既存ソースの解析でした。解析の結果、コードに重複が多くかつ修正時の影響が大きい実装になっていることが分かりました。改善案としてUIのコンポーネント化とStorybookの導入を提案しましたが、PoCを進めていく過程で以下の3点が課題となりました
    </p>
    <ol>
      <li>
        Storybookの有識者が社内にいないため、キャッチアップのためのリソースが必要になる
      </li>
      <li>
        既存UIをコンポーネント化したUIに差し替えるにあたり、デザインが崩れてしまう可能性がある
      </li>
      <li>
        Storybookでカバーされている画面が増えるにつれ、表示が崩れてしまっているStoryを目視で見つけるのが困難になる
      </li>
    </ol>
    <p>
      1はStorybookのAngular向けチュートリアルを翻訳する、2・3は画像回帰テストを導入することで解決しました。
    </p>
    <p>
      解決案を実行していく過程でもライブラリのバグを踏むなどの問題に直面しましたが、ライブラリのソースコードを解析し原因を特定・修正することで乗り切りました
    </p>
    <section>
      <h4>参考リンク</h4>
      <ul>
        <li>
          <a href="https://github.com/chromaui/learnstorybook.com/pull/466"
            >StorybookのAngular向けチュートリアル翻訳</a
          >
        </li>
        <li>
          <a href="https://github.com/storybookjs/storybook/pull/16931"
            >Storybookのバグ修正</a
          >
        </li>
        <li>
          <a href="https://github.com/reg-viz/reg-cli/pull/401"
            >reg-cliのバグ修正</a
          >
        </li>
      </ul>
    </section>
  </section>
  <section>
    <h3>英語力を生かした情報収集と社内への知見共有</h3>
    <p>
      上記のようなOSSへの貢献を含めた問題解決において、ドキュメントを読んだり他のコントリビューターと協働するためには英語力が不可欠でした。これらの活動を通して得た知見は社内Slackで共有したり、公開できるものはブログにまとめるなどし、他エンジニアのスキルアップにも貢献しています
    </p>
    <h4>参考リンク</h4>
    <ul>
      <li>
        <a href="https://zenn.dev/nagashima/articles/c49c1f43209dc3"
          >Angular向けStorybookのチュートリアルを日本語訳しました</a
        >
      </li>
      <li>
        <a href="https://zenn.dev/nagashima/articles/a5d7d81389eed1"
          >Angular/Ionic で Storybook を試してみた</a
        >
      </li>
    </ul>
  </section>
</section>
